<div class='col'>
			<div class ='row mt-3'>
				<div class ='col'>
					<button class= 'w-100 p-4'>Alunos</button>
				</div>
				<div class ='col'>
					<button class= 'w-100 p-4'>Turmas</button>
				</div>
			</div>
			<div class ='row mt-3'>
				<div class ='col'>
					<button class= 'w-100 p-4'>Séries</button>
				</div>
				<div class ='col'>
					<button class= 'w-100 p-4'>Turnos</button>
				</div>
			</div>
			<div class ='row mt-3'>
				<div class ='col'>
					<button class= 'w-100 p-4'>Chamada</button>
				</div>
				<div class ='col'>
					<button class= 'w-100 p-4'>Boletim</button>
				</div>
			</div>
	</div>